
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <h2>User Database</h2>

    <hr class="line"/>

    @for (int i = 0; i < 10; i++)
            {
        //TODO: User data to get iterated through and displayed here
        <div class="user-info">
            <div class="left-side">
                <p id="name">First Last</p>
                <p id="title-name">Rider/Driver</p>
                <div id="rating"><p>rating</p></div>
                <div id="comment"><p>Comment</p></div>
            </div>

            <div class="right-side">
                @*TODO: User photographs to be stored in database and displayed here*@

            </div>
        </div>
    }




</div>


